In [1]:
# Project 1
g_names = ['Samantha','Jada','Jane','Claire','Elizabeth','Mary',
             'Susan','Waje','Taibat','Lillian']
g_age = [17,16,17,18,16,18,17,20,19,17]
g_height = [5.5,6.0,5.4,5.9,5.6,5.5,6.1,6.0,5.7,5.5]
g_scores = [80,85,70,60,76,66,87,95,50,49]

b_names = ['Charles','Jude','James','Kevin','Biodun','Wale',
           'Kunle','Matthew','Tom','Kayode']
b_age = [19,16,18,17,20,19,16,18,17,19]
b_height = [5.7,5.9,5.8,6.1,5.9,5.5,6.1,5.4,5.8,5.7]
b_scores = [74,87,75,68,66,78,87,98,54,60]

print("The name,age,height,score of all the students would be shown in the format below")
print("The girl's data is first followed by the boys")
print("Name  |Age|Height|Score")
print("\n")
 
for i in range(10):
    print(g_names[i],g_age[i],g_height[i],g_scores[i])
    
print("\n")
    
for i in range(10):
    print(b_names[i],b_age[i],b_height[i],b_scores[i])

The name,age,height,score of all the students would be shown in the format below
The girl's data is first followed by the boys
Name  |Age|Height|Score


Samantha 17 5.5 80
Jada 16 6.0 85
Jane 17 5.4 70
Claire 18 5.9 60
Elizabeth 16 5.6 76
Mary 18 5.5 66
Susan 17 6.1 87
Waje 20 6.0 95
Taibat 19 5.7 50
Lillian 17 5.5 49


Charles 19 5.7 74
Jude 16 5.9 87
James 18 5.8 75
Kevin 17 6.1 68
Biodun 20 5.9 66
Wale 19 5.5 78
Kunle 16 6.1 87
Matthew 18 5.4 98
Tom 17 5.8 54
Kayode 19 5.7 60

In [ ]:
# Project 2
for i in range(2500):
    years_of_experience = int(input("Your years of experience is: "))
    age = int(input("Your age is: "))
    if age >= 55 & years_of_experience > 25:
        print("Your Annual Tax Revenue is N5,600,00")
    elif age >= 45 & years_of_experience > 20:
        print("Your Annual Tax Revenue is N4,480,00")
    elif age >= 35 & years_of_experience > 10:
        print("Your Annual Tax Revenue is N1,500,00")
    elif age > 35 & years_of_experience < 10:
        print("Your Annual Tax Revenue is N550,00")
    else:
        print("Invalid")